<h1>Jewelries Retailers</h1>
<%= link_to "Fill out the form to become one of the retailers", new_retailer_path %>

<%= link_to 'View all products', rings_path %>
<% @retailers.each do |retailer| %>
<%= link_to retailer.name, retailer_path(retailer)%>
<%= link_to 'Edit', edit_retailer_path(retailer)%>
<%= link_to 'Delete', retailer_path(retailer), method: :delete, data:{confirm:'Are You Sure?'} %>
<img src="<%= retailer.img_url %>">
<%end%>
