<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%=@retailer.name%></title>
    <style>
    body {
      position:relative;
      text-align: center;
      width:1000px;
      font-family:'Sterling Display 3r','Sterling Display A','Sterling Display B',serif;
      margin: auto;
      font-weight: 100;
      font-style: normal;
    }

    h2 {
      font-family:'Sterling Display 3r','Sterling Display A','Sterling Display B',serif;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;


    }

    .company{
      text-align: center;
      font-weight: 300;
    font-size: 1.2rem;
    line-height: 150%;
    font-style: normal;
    }
    .parent {
      margin: 0 auto;
      max-width: 980px;
      padding: 0 1rem;
    }
    .banner {
      width: 980px;
      height: 200px;
      background-image: url("http://www.offersforengagementrings.com/wp-content/uploads/2015/01/cropped-ExhibID_296_super_banner.jpg");
      background-size: cover;
      text-align: center;
      padding: 20px;
      border-top: 1px solid black;
    }
    .ring{
      height: 263px;
      width: 263px;
      background-size: contain;
    display: inline-block;
    max-width: 100%;
    align-content: center;
  }
  #engagement{
    font-size: 40px;
    text-align: center;
    position: absolute;
    width: 984px;
    margin-top: 110px;
    color: black;
  }
  #title{
    line-height: 30px;
  }

  #name{
    font-size: 30px;
  }

  .square{
    display: inline-block;
    position: relative;
  }
  .square .links{
    position:absolute;
    bottom: 0;
    right: 0;
    display: none;
  }

  .square:hover .links{
    display:block;
  }
    </style>
  </head>
  <body>
    <h2 class="company" id="name"><%=@retailer.name.upcase%></h2>
    <div class="banner">
      <h1 class="company" id="engagement"> ENGAGEMENT RINGS </h1>
  </div>
  <h2 id="title">
      Solitaire<br>
      <%= link_to 'Click here to add product', new_retailer_ring_path(@retailer) if @current_user == @retailer %>
    </h2>
    <% @retailer.rings.each do |ring| %>
    <div class="square">
      <%= link_to image_tag(ring.img_url, class:"ring"), retailer_ring_path(@retailer,ring) %>
      <%if @current_user == @retailer %>
      <div class="links">
      <%= link_to 'Edit', edit_retailer_ring_path(@retailer) if @current_user%>
      <%= link_to 'Delete', retailer_ring_path(@retailer, ring), method: :delete, data:{confirm:'Are you sure?'} if @current_user%>
    </div>
      <%end%>
    </div>
    <%end%>
    <div class="back"> <%=link_to"Back", retailers_path%></div>

    <div>
      <h3>Store Details:</h3><br>
      <p><%= @retailer.phone %><br></p>
      <p><%= @retailer.address %><p>
    </div>
  </div>
  </body>
</html>
