
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body{
      background-image: url("http://cdn.wallpapersafari.com/28/14/2Cm7Iw.jpg");
      background-size: cover;
      text-align: center;
      text-transform: uppercase;
    }
    table{
      width:400px;
      vertical-align: middle;
    }
    th,td{
      text-align: center;
      line-height: 30px;
      font-size: 20px;
    }
    .new{
      margin: auto;
    }


    </style>
  </head>
  <body>
    <h2>Add a product</h2>
    <div class="new">
      <table>
     <%= form_for [@retailer,@ring] do |f| %>
     <tr>

      <th><%= f.label :shape %></th>
    <td><%= f.text_field :shape %></td>

  </tr>
  <tr>

    <th>  <%= f.label :description %></th>
    <td>  <%= f.text_area :description %></td>
</tr>

    <tr>
      <th><%= f.label :color %></th>
      <td><%= f.text_field :color %></td>
    </p>
  </tr>
    <tr>
      <th><%= f.label :carat %></th>
      <td><%= f.text_field :carat %></td>
    </tr>


    <tr>
      <th><%= f.label :clarity %></th>
      <td><%= f.text_field :clarity%></td>
    </tr>

    <tr>
      <th><%= f.label :cut %></th>
    <td><%= f.text_field :cut%></td>
    </tr>

    <tr>
      <th><%= f.label :price %></th>
      <td><%= f.text_field :price %></td>
    </tr>

    <tr>
      <th><%= f.label :img_url%></th>
    <td><%= f.text_field :img_url %></td>
    </tr>


    <th>
      <%= f.submit %>
    </th>

    <%end%>
  </table>
  </div>
  </body>
</html>
