<!-- <h1>Rings#show</h1>
<p>Find me in app/views/rings/show.html.erb</p> -->

<%=@ring.description %>
<%=@ring.carat %>
<%=@ring.color%>
<%=@ring.cut %>
<%= "$ " + @ring.price.to_s %>
<%= link_to "Edit", edit_retailer_ring_path if @current_user %>
<%= link_to "Delete", ring_path(@ring), method: :delete, data:{confirm:'Are you sure?'} if @current_user %>
