<!-- <h1>Rings#show</h1>
<p>Find me in app/views/rings/show.html.erb</p> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    table{
      width: 400px;
      vertical-align: middle;
      margin-top: 20px;
      font-size: 20px;
    }
    body{
      position: relative;
      width: 1000px;
      text-align: center;
      margin:auto;
    }
    img{
      width: 500px;
      height:500px;
      background-size: contain;
    }
    .details{
      text-align: center;
      width: 400px;
      height:500px;

    }
    td,th{
      width:100px;
      text-align: left;

    }

    .banner{
      background-image: url("http://diamonius.com/media/wysiwyg/Diamonius_Synthetic_Diamond_Banner_1.jpg");
      font-size: 35px;
      height:250px;
    }
    .box{
      height:500px;
      width:400px;
      display: flex;
      flex-wrap: nowrap;
      margin-top: 65px;
      margin-bottom: 100px;
    }
    .description{
      width:400px;
      text-align: center;
      border-bottom: 1px solid black;
      padding: 20px;
    }

    .shape{
      width: 400px;
      text-align: center;
      font-size: 30px;
      margin: 10px;
    }
    .contact{
      background-color: #55ffff;
      align-content: : center;
      font-size: 15px;
      width: 100px;
      height:42px;
      border: 1px solid silver;
      margin-left: 90px;
      margin-top: 60px;
    }
    h3{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    </style>
  </head>
  <body>

    <div class="banner"> Find Your Perfect ring </div>
    <div class="box">

    <div class="image">
    <img src="<%=@ring.img_url%>">
    </div>
    <div class="details">
      <div class="shape">
    <%= @ring.shape%>
  </div>
    <div class="description">
    <%=@ring.description %>
  </div>
  <table>
  <tr>
      <th>Price:</th>
      <td><%= number_to_currency(@ring.price)%></td>
    </tr>

<tr>
  <th>Carat Weight:</th>
  <td><%=@ring.carat.to_f%></td>
</tr>
<tr>
  <th>Clarity:</th>
  <td><%=@ring.clarity%></td>
</tr>

<tr>
  <th>Color:</th>
  <td><%=@ring.color%></td>
</tr>
<tr>
  <th>Cut:</th>
  <td><%=@ring.cut%></td>
</tr>
  </table>
  <div class="contact"> Contact</div>

</div>
  </body>
</html>
