<!DOCTYPE html>
<html>
  <head>
    <title>Ringforyou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">

  </head>

  <body>
    <div class="name"> <h1>eveRing</h1></div>


        <% flash.each do |type, message| %>
        <span class="<%= type %>"> <%= message %> </span>
        <%end%>

    <%= yield %>
  </body>
</html>
